# Add any directories, files, or patterns you don't want to be tracked by version control
*.eph
*.EPH
*.mod
*.out
*.dat
*.out
*.mod
*.e
*.rnx
data/
bin/
pod
crs2trs
tp_test/
fort.*
gag*.sp3
test/ECOM1_srp.in
test/EQM0.in
test/EQM01.in
test/VEQ0.in
test/VEQ01.in
test/emp_bias.in
test/emp_cpr.in
test/ascp1950.430
